numpy
pandas
pillow
pytesseract
pdfplumber
PyPDF2
pymongo
dotenv
uuid
requests
torch
torchvision
torchaudio
paddleocr
langchain
transformers
opencv-python
matplotlib
mistralai
pathlib
pypi-json
ipython
mdpd
pycountry
pydantic
googletrans
tk-tools
docx
pdf2image
scikit-learn
customtkinter
PyMuPDF
llmwhisperer-client
pypdf
tabulate
streamlit
pandas
requests
pymongo
python-dotenv
tabulate
werkzeug
unstract
streamlit-chat
llama-cpp-python